// .header{
//     //z-index: 5;
//     width: 100%;
//     position: fixed;    //if we change position we can make the toolbar separated from the landing, use static
//     //background-color: #00000070;
//     background: 'transparent';
//     height: 9%;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: 5;
//     //overflow: auto;
//     -webkit-user-select: none; /* Safari */        
//     -moz-user-select: none; /* Firefox */
//     -ms-user-select: none; /* IE10+/Edge */
//     user-select: none; /* Standard */
//     transition: all ease-in-out .5s;
// }
.headerScroll{
    //z-index: 5;
    width: 100%;
    position: fixed;    //if we change position we can make the toolbar separated from the landing, use static
    background-color: #ffffff;
    height: 9%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    //overflow: hidden;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    transition: all ease-in-out .5s;

}

.inactive {
    transition: all 1s ease;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header__navigation {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    // // padding-top: 0.6%;
    // // padding-left: 1.6%;
    // // padding-right: 1.6%;
    // width: 100%;
    .logo__wrapper {
        // background-color: red;
        width: 10%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: block;
        float: center;
        justify-content: center;
        // padding-top: 0.2%;
        .logo__top{
            width: 8.3vw;
        }
    }
    .header__spacer {
        flex: 1;
    }
    .header__navlinks {
        padding-right: 1.5%;
            .links__wrapper{
                display: flex;
                a {
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    font-size: 1vw;
                }
                .link__separator {
                    color: rgba(255, 255, 255, 0);
                    background-color: rgb(0, 0, 0);
                    padding-top: 0.4rem;
                    width: 1px;
                    border-color: rgb(0, 0, 0);
                    border-width: 2px;
                }
                .link1 {
                    display: inline-block;
                    //padding-left: 1%;
                    //padding: 0 0.5rem;
                    padding-left: 2rem;
                    padding-right: 2rem;
                }
                .link1:hover {
                    cursor: pointer;
                }
                .link3 {
                    display: inline-block;
                    font-family: Helvetica-bold;
                    font-weight: 100;
                    letter-spacing: 0.5px;
                    //padding-left: 1%;
                    padding: 0 1rem;
                    button:focus{
                        outline: 0
                    }
                    button:hover{
                        cursor: pointer;
                    }
                    button{
                        color: rgb(0, 0, 0);
                        font-family: Helvetica-bold;
                        font-weight: 100;
                        letter-spacing: 0.5px;
                        font-size: 1vw;
                        //padding-left: 1%;
                        //padding: 0 2rem;
                        background: none;
                        border: none;
                    }             
                    
                }
                .link4 {
                    display: inline-block;
                    //padding-left: 1%;
                    padding-left: 1rem;
                }
            }

    }
}
