.shoppingCart{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px rgba(107, 107, 107, 0.459);
    .contentWrapper{
        margin-top: 10%;
        padding: 1vw 1vw;
        overflow-y: scroll;
    }

    .itemCard{
        border-style: solid;
        border-width: 1px;
        border-color: black;
        padding: 1vw 1vw;
    }
}