.componentMailchimp{
    display: flex;
    flex-direction: column;
    // height: 100%;
    position: absolute;
    width: 100%;
    align-items: center;
}
.messageAlert{
    margin-top: 13%;
    font-size: 1.2vw;
    position: absolute;
    // margin: 0 center;
    // width: 100%;
    .loading{
        color: white;
        margin-top: 5%;
        // margin-bottom: -60%;
    }
    .danger{
        margin-top: 2%;
        color: rgb(255, 77, 77);
        // margin-bottom: -30%;
    }
    .sucess{
        margin-top: 2%;
        color: rgba(112, 209, 74, 0.918);
        // margin-bottom: -30%;
    }
}
.subscribeInput{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    // background-color: red;
    display: flex;
    justify-content: center;
    .inputGroup{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        margin: 0 center;
        width: 40%;

        input{
            width: 60%;
            padding: 1rem 1rem;
            background-color: rgba(110, 110, 110, 0.116);
            border-style: solid;
            border-width: 1px;
            border-radius: 10px;
            border-color: white;
            margin-bottom: 4%;
            // border-style: solid;
            // border-width: 1px;
            // border-top-left-radius: 10px;
            // border-bottom-left-radius: 10px;
            color: white;
            // border: none;
            // border-color: white;
            font-size: 1vw;
            letter-spacing: 2px;
        }
        input:focus{
            outline: 0;
        }
        button{
            width: 40%;
            color: white;
            background-color: rgba(100, 100, 100, 0.541);
            border-style: solid;
            border-width: 1px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-left-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-color: white;
            padding: 1rem 1.8rem;
            font-size: 1vw;
            font-family: Nepos;
            letter-spacing: 2px;
        }
        button:hover{
            cursor: pointer;
        }
        button:focus{
            outline: 0;
        }
    }
}