.homeScreenMobile{
    // height: 100%;
    // width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    overflow-x: hidden;
    // overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    // background-color: red;
    // overflow: hidden;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    .logoLandingMobile{
        // margin-top: 2%;
        width: 100%;
        height: 11%;
        background-color: rgba(0, 0, 0, 0.897);
        justify-content: center;
        align-content: center;
        img{
            padding-top: 3%;
            padding-bottom: 1%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 70%;
            width: auto;
        }
    }
    .homeMobile__header{
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7%;
        width: 90%;
        height: 250px;
        // background-color: red;
        -webkit-backface-visibility: hidden;
        -webkit-transition: 1s ease-in-out;
        
        
        .text__wrapperMobile{
            height: 100%;
            // background-color: red;
            width: 100%;
            //max-width: 1000px;
            text-align: center;
            margin-top: 60.5%;
            // margin-left: 9.9%;
            // margin-right: 8.4%;
            margin-bottom: 5.7%;
            color: white;
            
        }
        
    }

    
   
    .appPromo__containerMobile {
        position: relative;
        left: 0;
        right: 0;
        z-index: 2;
        background-color: white;
        justify-content: center;
    }
    
    .home__containerMobile{
        width: 100%;
        //min-height: 1000px;
        overflow: hidden;
        justify-content: center;
        text-align: center;
        padding-bottom: 5%;
        // background-color: red;
        .infografiaMobile{
                width: 90%;
                height: 10%;
            margin-top: -15%;
            
        }
        .content__titleMobile {
            //margin-left: 30%;
            margin-top: 1%;
            margin-bottom: 5%;
            //margin-right: 35.5%;
            //max-width: 400px;
            width: 90%;
            position: relative;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            p{
                display: inline;
                //object-fit: contain;
                font-family: Helvetica-regular;
                color: black;
                font-size: 3.9vw;
            }
            #bold {
                display: inline;
                font-family: Helvetica-bold;
            }
            
        }
        
    }

    .newsletterCallToActionMobile{
        overflow: hidden;
        height: 740px;
        // margin-top: 70%;
        width: 100%;
        position: relative;
        .newsLetterTitleMobile{
            margin: 0 auto;
            color: white;
            width: 100%;
            text-align: center;
            font-weight: 100;
            font-family: Nepos;
            font-size: 4vw;
            line-height: 50%;
            margin-top: 10%;
            margin-bottom: 10%;
        }
        .newsLetterSubtitleMobilee{
            margin: 0 auto;
            color: white;
            width: 80%;
            text-align: center;
            font-weight: 100;
            font-family: Helvetica-regular;
            font-size: 4vw;
            // line-height: 50%;
            margin-top: 10%;
            // margin-bottom: 10%;
        }
        .newsLetterInputMobile{
            // background-color: red;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            // align-items: center;
            margin-bottom: 6%;
        }
        // .newsLetterInputError{
        //     text-align: center;
        //     color: rgb(214, 85, 85);
        //     font-family: Helvetica-bold;
        //     padding-top: 1rem;
        //     font-size: 1vw;
        // }
        // .newsLetterInputSent{
        //     text-align: center;
        //     color: white;
        //     font-family: Helvetica-bold;
        //     padding-top: 1rem;
        //     font-size: 1vw;
        // }
        
        .downloadAppIconsMobile{
            // background-color: red;
            width: 55%;
            // hesight: 35%;
            margin-left: 20%;
            margin-right: 20%;
            margin-top: 50%;
            color: white;
            display: flex;
            flex-direction: column;
            // position: absolute;
            bottom: 0;
            // left: 0;
            padding: 2rem 1rem;
            img{
                width: 100%;
            }
            #ios{
                margin-top: 8%;
            }
        }
        .socialMediaIconsMobile{
            color: white;
            display: flex;
            flex-direction: row;
            // position: absolute;
            // bottom: 0;
            // padding: 2rem 1rem;
            // margin-left: 10%;
            // margin-right: 10%;
            justify-content: space-between;
            // background-color: red;
            width: 100%;
            height: 8%;
            margin-top: 50%;
            // margin-right: 1%;
            img{
                height: auto;
                width: auto;
            }
            #insta{
                width: 50px;
                height: 50px;
            }
           #fb{
            width: 50px;
            height: 50px;
           } 
           #ytb{
            width: 50px;
            height: 50px;
           }
        }
    }
}