.productViewer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .productWrapper{
        width: 100%;
        height: 95%;
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        .sidePanel{
            // background-color: red;
            width: 70%;
            height: 100%;
            border-right-color: black;
            border-right-width: 1px;
            border-right-style: solid;
            padding: 2.5vw 2.5vw;
            .backButton{
                a{
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    font-size: 1vw;
                    font-family: Helvetica-bold;
                }
                
            }
            .sidePanelContent{
                height: 80%;
                // background-color: red;
                padding: 1vw 1vw;
                .item{
                    height: 200px;
                }
            }
        }
        .informationPanel{
            padding: 3vw 3vw;

        }
    }
}