//--BASE CONFIGURATION
html {
    // font-size: 80%;//62.5%;
}

body {
    font-family:  Helvetica, Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}

//---PAGES STYLES - desktop
@import '../styles/pages/home';
@import '../styles/pages/policy';
@import '../styles/pages/categoryViewer';
@import '../styles/pages/productViewer';

//---PAGES STYLES - mobile
@import '../styles/pages/homeMobile';
@import '../styles/pages/policyMobile';

//---COMPONENTS STYLES - desktop
@import '../styles/components/header';
@import '../styles/components/footer';
@import '../styles/components/shoppingCart';
@import '../styles/components/subscribeMailForm';

//---COMPONENTS STYLES - mobile
@import '../styles/components/headerMobile';
@import '../styles/components/footerMobile';
@import '../styles/components/subscribeMailFormMobile';


 @font-face {
    font-family: 'Helvetica-bold';
    font-style: bold;
    font-weight: 100;
    src: url('../../build/fonts/Helvetica/Helvetica-Bold.ttf') format('ttf');
    src: url('../../build/fonts/Helvetica/Helvetica-Bold.ttf');
 }
 @font-face {
    font-family: 'Helvetica-regular';
    //font-style: bold;
    font-weight: 100;
    src: url('../../build/fonts/Helvetica/Helvetica.ttf');
 }
 @font-face {
   font-family: 'Helvetica-light';
   //font-style: bold;
   font-weight: 100;
   src: url('../../build/fonts/Helvetica/Helvetica-light.ttf') format('ttf');
   src: url('../../build/fonts/Helvetica/Helvetica-light.otf');
}
@font-face {
   font-family: 'Nepos';
   //font-style: bold;
   font-weight: 100;
   src: url('../../build/fonts/Nepos/nepos-simplex-solid.otf');
}